<div class="col-8 mx-auto"> 
  <% @restaurants.each do |restaurant| %>
      <h2 ><%= link_to restaurant.name, restaurant_path(restaurant) %>   <%= restaurant.prefecture.prefecture %> </h2>

      <div class=" mb-5">
        <%= show_restaurant_image restaurant %>
      </div>
      <div class="card-text">
      <p><%= truncate(restaurant.description, length: 20) %></p>
      </div>
      <hr>
  <% end %>
</div>